:host {
  display: inline-block;
  color: black;
  width: 500px;
  height: 500px;
}
.columnNames {
  margin: 0 auto;
  text-align: center;
}

.columnName {
  margin: 10px;
  padding: 3px 5px;
  border: 2px solid #ccc;
  color: #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.selected {
  background-color: #ccc;
  color: white;
}